<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/picture.webp" alt="Laptop" width="473" height="316">
<p>Photo by Garrett Sears on Unsplash</p>

<div class="pt-3">
  <p>EMILL v6 Цей сервіс DEV-6 (API) створено 27.08.2023</p>
  <p>В розробці до 30.10.2023</p>
  <p>Продовжено 01.01.2024</p>
  <p>Сервіс Категорій Допрацьвано 14.04.2024</p>  
  <p>Сервіс UI EJS 19.04.2024</p>
    
</div>
