<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="img/picture.webp" alt="Laptop" width="600" height="400">
<p>Найкращий спосіб почати робити – перестати говорити і почати робити</p>

<div class="pt-3">
  <p>27.08.2023 -- EMILL v6 Цей сервіс DEV-6 (API) створено <br>
     30.10.2023 -- Відкладено розробку <br>
     01.01.2024 -- Продовжено <br>
     14.04.2024 -- Сервіс Категорій створено <br>  
     19.04.2024 -- Запуск Сервісу UI EJS <br>
     01.05.2024 -- Розділення - реалізація Мікросервісів <br> 
     12.05.2024 -- Запуск Nginx Proxy Manager - створено балансування та мережу сервісів <br> 
    </p>
    
</div>
