<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link
      rel="icon"
      type="image/png"
      size="120"
      data-hid="favicon-120"
      href="/favicon.png"
    />
  </head>
  <body>
    <h4><%= text %></h4>
  </body>
</html>
 