<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="d-flex flex-column">
    <div id="page-content">
      <h4><%= text %></h4>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
